<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <head>
	<title>{{title}}</title>
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.8/css/mdb.min.css" rel="stylesheet">
		<!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <!-- Orion-Entertainment CSS -->
		<link rel="stylesheet" href="/stylesheets/main.min.css">
		<!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.8/js/mdb.min.js"></script>
        <!-- Orion-Entertainment Players JS -->
        <script type="text/javascript" src="/js/players.min.js"></script>
	</head>

	<body>
		<!-- Header -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light FontWeight">
			<a class="navbar-brand" href="https://orion-entertainment.net/">Orion-Entertainment</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Players</a>
						<div class="dropdown-menu active" aria-labelledby="navbarDropdown">
							<a class="dropdown-item active" href="/Players/TopCharts">Top Charts</a>
							<a class="dropdown-item" href="/Players/KillFeed">Kill Feed</a>
							<a class="dropdown-item" href="/Players/Search">Search Players</a>
							<div class="dropdown-divider"></div>
							<!--<a class="dropdown-item" href="/Players/Report">Report a Player</a>-->
						</div>
					</li>

                    <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/Shop" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Shop
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/Shop">View Shop</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/Shop/Purchases">View Purchases</a>
						</div>
					</li>

                    <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/Shop" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Changelogs
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/Changelog">Changelogs</a>
                            {{#if Admin}}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/Changelog/Admin">Admin</a>
                            {{/if}}
						</div>
					</li>
				</ul>

				<form class="form-inline my-2 my-lg-0">
					<a class="nav-link" href="/auth/logout">Logout</a>
				</form>
			</div>
		</nav>
		<!-- Header -->

		<div class="Content">
            <h1 class="AltText centerText">MaldenLife Top Charts</h1>
            <div class="PlayerBoxes">
                <div class="Item">
                    <h1 class="AltText centerText">Money</h1>
                    <hr width="75%">

                    <table class="table TableScroll" id="Money">
                        <thead>
                            <tr>
                                <th scope="col"><scrong>Name</scrong></th>
                                <th scope="col"><scrong>Money</scrong></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

                <div class="Item">
                    <h1 class="AltText centerText">EXP</h1>
                    <hr width="75%">

                    <table class="table TableScroll" id="EXP">
                        <thead>
                            <tr>
                                <th scope="col"><scrong>Name</scrong></th>
                                <th scope="col"><scrong>Level</scrong></th>
                                <th scope="col"><scrong>Total</scrong></th>
                                <th scope="col"><scrong>Perk Points</scrong></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

                <div class="Item">
                    <h1 class="AltText centerText">Gang Funds</h1>
                    <hr width="75%">

                    <table class="table TableScroll" id="GangFunds">
                        <thead>
                            <tr>
                                <th scope="col"><scrong>Name</scrong></th>
                                <th scope="col"><scrong>Money</scrong></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

                <div class="Item">
                    <h1 class="AltText centerText">Bounty</h1>
                    <hr width="75%">

                    <table class="table TableScroll" id="Bounty">
                        <thead>
                            <tr>
                                <th scope="col"><scrong>Name</scrong></th>
                                <th scope="col"><scrong>Bounty</scrong></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>

            <script>
                $(document).ready(function(){
                    const Load = [{
                        "Server": "MaldenLife",
                        "Data": ['Money','EXP','GangFunds','Bounty']
                    }]
                    LoadTopCharts(Load)
                });
            </script>
		</div>
	</body>{{{Footer}}}
</html>