<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <head>
	<title>{{title}}</title>
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.8/css/mdb.min.css" rel="stylesheet">
		<!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <!-- Orion-Entertainment CSS -->
		<link rel="stylesheet" href="/stylesheets/main.full.css">
		<!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.8/js/mdb.min.js"></script>
        <!-- Moment.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <!-- Chart.js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" integrity="sha256-CfcERD4Ov4+lKbWbYqXD6aFM9M51gN4GUEtDhkWABMo=" crossorigin="anonymous"></script>
        <!-- Orion-Entertainment Home JS -->
        <script type="text/javascript" src="/js/home.full.js"></script>
        <script type="text/javascript" src="/js/chartjs.full.js"></script>
	</head>

	<body>
		<!-- Header -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light FontWeight">
			<a class="navbar-brand" href="/">Orion-Entertainment</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link active" href="/">Home</a>
					</li>
					{{#if Login}}
					<li class="nav-item dropdown">
						<div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Players</div>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/Players/TopCharts">Top Charts</a>
							<a class="dropdown-item" href="/Players/KillFeed">Kill Feed</a>
							<a class="dropdown-item" href="/Players/Search">Search Players</a>
							<div class="dropdown-divider"></div>
							<!--<a class="dropdown-item" href="/Players/Report">Report a Player</a>-->
						</div>
					</li>
					{{/if}}

                    <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/Shop" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Shop
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/Shop">View Shop</a>
							{{#if Login}}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/Shop/Purchases">View Purchases</a>
							{{/if}}
						</div>
					</li>

                    <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/Shop" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Changelogs
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/Changelog">Changelogs</a>
                            {{#if Admin}}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/Changelog/Admin">Admin</a>
                            {{/if}}
						</div>
					</li>
				</ul>

				<form class="form-inline my-2 my-lg-0">
					{{#if Login}}
						<a class="nav-link" href="/auth/logout">Logout</a>
					{{else}}
						<a class="nav-link" href="/login">Login</a>
					{{/if}}
				</form>
			</div>
		</nav>
		<!-- Header -->

		<div class="Content">
			<h1 class="MainText centerText">Orion-Entertainment Panel Home</h1>
			{{#if Login}}
				<p class="SubText centerText">Website currently in beta</p>
			{{else}}
				<p class="SubText centerText">Register/Login at <a href="https://panel.orion-entertainment.net/login">https://orion-entertainment.net/login</a></p>
			{{/if}}

			<hr width="75%">
            <h1 class="MainText centerText">Recent Changelogs</h1>
			<hr width="50%">
			<div class="row Changelogs">
                <div class="rightcolumn centerDIV" id="ChangeLogs"></div>
            </div>

			<hr width="75%">
            <h1 class="MainText centerText">Monthly Community Statistics</h1>
			<hr width="50%">
			<div class="PlayerBoxes">
				<div class="Item">
					<h1 class="AltText centerText">Players</h1>
					<hr width="75%">

					<canvas id="totalPlayers" width="400" height="400"></canvas>
				</div>

				<div class="Item">
					<h1 class="AltText centerText">Kills</h1>
					<hr width="75%">

					<canvas id="totalKills" width="400" height="400"></canvas>
				</div>
			</div>

			<script>
				$(document).ready(function(){
					$.ajax({
                        async: true,
                        type: 'POST',
                        url: '/RecentChangelogs',
                        data: {},
                        success: function(data) {
                            if (data.Error !== undefined) {console.log(data.Error); return alert(data.Error);}
                            else ChangeLogs(data);
                        },
                        error: function(error) {
                            console.log(error)
                            return alert("Error");
                        }
                    });
					
					$.ajax({
                        async: true,
                        type: 'POST',
                        url: '/GetData',
                        data: {},
                        success: function(data) {
                            if (data.Error !== undefined) {console.log(data.Error); return alert(data.Error);}
                            else console.log(data);

							var ctx = document.getElementById("totalPlayers");
							var totalPlayers = new Chart(ctx,{
								type: 'doughnut',
								data: {
									labels: ["Active","New","Bans"],
									datasets: [{
										label: 'players',
										data: [data.TotalPlayers.TotalMonth,data.TotalPlayers.TotalNewMonth,data.TotalPlayers.TotalBans],
										backgroundColor: [
											'rgba(97, 255, 99, 0.35)',
											'rgba(97, 255, 144, 0.35)',
											'rgba(255, 105, 97, 0.35)'
										],
										borderColor: [
											'rgba(97, 255, 99, 1)',
											'rgba(97, 255, 144, 1)',
											'rgba(255, 105, 97, 1)'
										],
										borderWidth: 1
									}]
								},
								options: {
									plugins: {
										doughnutlabel: {
											labels: [
												{
													text: 'Total: '+data.TotalPlayers.Total,
													font: {
														size: '60'
													}
												}
											]
										}
									}
								}
							});
							
							var ctx = document.getElementById("totalKills");
							var totalPlayers = new Chart(ctx,{
								type: 'doughnut',
								data: {
									labels: ["Police","Civilians","Suicides"],
									datasets: [{
										label: 'players',
										data: [data.Kills.Cops,data.Kills.Civilians,data.Kills.Suicide],
										backgroundColor: [
											'rgba(71, 215, 255, 0.35)',
											'rgba(126, 71, 255, 0.35)',
											'rgba(255, 30, 30, 0.35)'
										],
										borderColor: [
											'rgba(71, 215, 255, 1)',
											'rgba(126, 71, 255, 1)',
											'rgba(255, 30, 30, 1)'
										],
										borderWidth: 1
									}]
								},
								options: {
									plugins: {
										doughnutlabel: {
											labels: [
												{
													text: 'Total: '+data.Kills.Total,
													font: {
														size: '60'
													}
												}
											]
										}
									}
								}
							});
                        },
                        error: function(error) {
                            console.log(error)
                            return alert("Error");
                        }
                    });
				});
			</script>
		</div>
	</body>{{{Footer}}}
</html>