<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{title}}</title>

    <link href="https://orion-entertainment.net/MC/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://orion-entertainment.net/MC/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://orion-entertainment.net/MC/css/landing-page.min.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Orion-Entertainment Network</a>
      </div>
    </nav>

    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="order-lg-first my-auto showcase-text">
            <h2>Privacy Policy</h2>
            <p class="lead mb-0">
                This privacy policy will explain what information we collect online, why we collect it, and the choices we offer to you.<br>
                <br>
                This privacy policy (“Policy”) describes the data practices of Orion-Entertainment and its subsidiaries (collectively “we”,“us”,“our”, or the “Company”), covering its services under its control, including this website, any products, mobile applications, console or PC applications (collectively "Services"). By using the Services, you are consenting to this Policy and the processing of your data in the manner provided in this Policy. If you do not agree with these terms, please do not use the Services.<br>
                <br>

                <strong>Information we collect</strong><br>
                    We may collect information about the Services you use and how you use them, such as the selections you make on our Services. We collect PII, DII, and log information about your interactions as described below.<br>
                    <br>
                    Personally identifiable information (PII) is information that can be used to identify or contact you online or offline email, phone number, and payment information. The Services may collect PII when it is provided to us, such as when you use our Services, attempt to contact us, or connect with us on social media or one of our partners. For example, you may see a “Log in with…” button, which means we request PII from a partner to streamline the login process. You will likely be presented with a “request for permission” screen by a third party asking to share your ID, profile picture, and other listed information with us.<br>
                    <br>
                    We may also create or collect device-identifiable information (DII), such as cookies, unique device and advertising identifiers, usernames, and similar identifiers that are linkable to a browser or device. From these platforms, we may also receive other information, such as your IP address, user agent, timestamps, precise and imprecise geolocation, sensor data, apps, fonts, battery life information, and screen size.<br>
                <br>

                <strong>How we use information we collect</strong><br>
                    We use the information we collect from our Services to provide, maintain, protect and improve our Services, to develop new Services and offerings, and to protect us and our users.<br>
                    <br>
                    PII is primarily used for business purposes, such as for sending you occasional newsletters and updates, logins, and providing Services. When you contact us, we may keep a record of your communication as well as the other information to help solve any issues you might be facing. We may use your email address to inform you about our Services, such as letting you know about changes or improvements. Please keep in mind that comments sections, forums, and other similar areas of our Services are public. Any information posted in those areas is viewable and usable by anyone that has access.<br>
                    <br>
                    We do not share PII with other organizations that are not run by Orion-Entertainment:<br>
                <br>

                <strong>Third Parties</strong><br>
                    While we strive to work with reputable companies with good privacy practices, this Policy does not apply to services offered by other companies or individuals, including products or sites that may be displayed to you on the Services. We also do not control the privacy policies and your privacy settings on third-party sites, including social networks. We may use third parties to help offer you more tailored ads and better Services, such as obtaining analytics about the users of our site and to help tailor advertising to your preferences.<br>
                <br>

                <strong>Choice</strong><br>
                    If you wish to cancel or delete your account, you can do so by contacting us for assistance with the process. Our email is included at the end of the privacy policy.
                    <br>
                    Like many other companies, we do not honor DNT flags but instead offer other choices with respect to third parties. Your information only starts saving after you are logged into one of our services.<br>
                <br>
                
                <strong>Information Security</strong><br>
                    We work hard to protect our users from unauthorized access to or unauthorized alteration, disclosure or destruction of information we hold and undertake reasonable security measures with appropriate confidentiality, integrity, and availability protections. However, since no software or storage system is 100% secure, we cannot guarantee the security of your information associated with the Services, or any other service for that matter. You can help protect your account information by using unique and hard-to-guess passwords.<br>
                <br>
                
                <strong>Children Under 13</strong><br>
                    We do not knowingly collect information for any child under the age of 13. If you are the parent of a child under the age of 13 and have a concern regarding your child’s information on our Services, please contact us at the email provided at the end of this Policy.<br>
                <br>
                
                <strong>Our Services are Located in the United States</strong><br>
                    Our Services are directed to United States citizens. If you are outside of the United States, your information will be processed and stored in the United States and you are consenting to such transfer, processing, and storage under the laws of the United States.<br>
                <br>
                
                <strong>Policy Changes</strong><br>
                    Our Privacy Policy may change from time to time. We will not always send out any information of the Policy changes to this page. Please check back periodically to view changes to our privacy policy.<br>
                <br>
                
                <strong>Contact Information</strong><br>
                    If you have questions or requests regarding your privacy, please contact us at flabby@orionpanel.com.<br>
                <br>
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="https://orion-entertainment.net/terms-of-service">Terms of Service</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="https://orion-entertainment.net/privacy-policy">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">Orion-Entertainment EST. 2017<br>&copy; OrionPanel.com 2018 All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a href="https://discord.gg/fbbAe3U" target="_blank">
                  <i class="fab fa-discord fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://orion-entertainment.net/MC/vendor/jquery/jquery.min.js"></script>
    <script src="https://orion-entertainment.net/MC/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>