<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{title}}</title>

    <link href="https://orion-entertainment.net/MC/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://orion-entertainment.net/MC/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://orion-entertainment.net/MC/css/landing-page.min.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Orion-Entertainment Network</a>
      </div>
    </nav>

    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="order-lg-first my-auto showcase-text">
            <h2>Terms of Service</h2>
            <p class="lead mb-0">
                The providers ("we", "us", "our") of the service provided by this web site ("Service") are not responsible for any user-generated content and accounts ("Content"). Content submitted express the views of their author only.<br>
                <br>
                You agree to not use the Service to submit or link to any Content which is defamatory, abusive, hateful, threatening, spam or spam-like, likely to offend, contains adult or objectionable content, contains personal information of others, risks copyright infringement, encourages unlawful activity, or otherwise violates any laws.<br>
                <br>
                All Content you submit or upload may be reviewed by staff members. All Content you submit or upload may be sent to third-party verification services (including, but not limited to, spam prevention services). Do not submit any Content that you consider to be private or confidential.<br>
                <br>
                We reserve the rights to remove or modify any Content submitted for any reason without explanation. Requests for Content to be removed or modified will be undertaken only at our discretion. We reserve the right to take action against any account with the Service at any time.<br>
                <br>
                You are granting us with a non-exclusive, permanent, irrevocable, unlimited license to use, publish, or re-publish your Content in connection with the Service. You retain copyright over the Content.<br>
                <br>
                These terms may be changed at any time without notice.<br>
                <br>
                If you do not agree with these terms, please do not register or use this Service. If you wish to close your account, please contact us.
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="https://orion-entertainment.net/terms-of-service">Terms of Service</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="https://orion-entertainment.net/privacy-policy">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">Orion-Entertainment EST. 2017<br>&copy; OrionPanel.com 2018 All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a href="https://discord.gg/fbbAe3U" target="_blank">
                  <i class="fab fa-discord fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://orion-entertainment.net/MC/vendor/jquery/jquery.min.js"></script>
    <script src="https://orion-entertainment.net/MC/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>