html {
    height: 100%;
}
body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: scroll;

    background: #04afb2;
    background: -moz-linear-gradient(top, #04afb2 0%, #08e8d5 50%, #04afb2 100%);
    background: -webkit-linear-gradient(top, #04afb2 0%,#08e8d5 50%,#04afb2 100%);
    background: linear-gradient(to bottom, #04afb2 0%,#08e8d5 50%,#04afb2 100%);
}
a,a:hover {
    color: rgba(0,0,0,.9);
    text-decoration: none;
}

.navbar {
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
}

.Content {
    background: linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.25)
    );
    margin: 10px;
    padding: 5px;
    border-color: rgba(128,128,128, 0.3);
    border-width: 2px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border-style: outset;
}

.centerText {
    text-align: center;
}
.centerIMG,.centerDIV {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.MainText {
    font-size: 2em;
}
.SubText {
    font-size: 0.75em;
}
.AltText {
    font-size: 1.5em;
}

.input-group.md-form.form-sm.form-2 input.lime-border  {
    border: 1px solid #cddc39;
}

.FontWeight {
    font-weight: 400;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.form-control::placeholder {
    color: black;
    opacity: 0.75;
}

.PlayerBoxes {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-width: 25%;
    /*align-items: center;*/
    justify-content: center;
}
.PlayerBoxes .Item {
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
    );
    margin: 10px;
    padding: 5px;
    border-color: rgba(128,128,128, 0.2);
    border-width: 2px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border-style: outset;
}

.PlayerBoxes .Item .TableScroll {
    display: block;
    max-height: 30em;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}