html {
    height: 100%;
}
body {
    width: 100%;
    margin: 0;
    background-size: cover;
    background-attachment: scroll;

    background: #07d5c4;
    background: -moz-linear-gradient(to right, #07d5c4 0%, #08e8d5 50%, #07d5c4 100%);
    background: -webkit-linear-gradient(to right, #07d5c4 0%,#08e8d5 50%,#07d5c4 100%);
    background: linear-gradient(to right, #07d5c4 0%,#08e8d5 50%,#07d5c4 100%);
}


/* Home page effects */
canvas {
    display: block;
    vertical-align: bottom;
}
#particles-js{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

a,a:hover {
    color: rgba(0,0,0,.9);
    text-decoration: none;
}

.navbar {
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
}

.Content {
    background: linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.25)
    );
    margin: 10px;
    padding: 5px;
    border-color: rgba(128,128,128, 0.3);
    border-width: 2px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border-style: outset;
}

.noBackground {
    background: none;
    border: none;
}

.centerText {
    text-align: center;
}
.centerIMG,.centerDIV,.ShopItems IMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.MainText {
    font-size: 2em;
}
.SubText {
    font-size: 0.75em;
}
.AltText {
    font-size: 1.5em;
}

.input-group.md-form.form-sm.form-2 input.lime-border  {
    border: 1px solid #cddc39;
}

.FontWeight {
    font-weight: 400;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.form-control::placeholder {
    color: black;
    opacity: 0.75;
}

.PlayerBoxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 25%;
    width: 100%;
}
.PlayerBoxes .Item {
    background: linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.2)
    );
    margin: 10px;
    padding: 5px;
    min-width: 0;
    border-color: rgba(128,128,128, 0.2);
    border-width: 2px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border-style: outset;
}

.PlayerBoxes .Item .table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 0.75px solid rgb(225, 240, 235);
    overflow-x: auto;
}

.PlayerBoxes .Item .table tr {
    white-space: nowrap;
    overflow-x: hidden;
}

.TableScroll {
    display: block;
    max-height: 30em;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.AltTableScroll {
    max-height: 50em;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.InputFix {
    display: inline-block;
    max-width: 5%;
}

.ShopItems IMG {
    width: 300px;
    height: 150px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.25)
    );
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}
.ShopCard {
    max-width: 20%;
}
.ShopCardBuy {
    max-width: 40%;
}
.ItemImages {
    max-width: 75%;
}

/* Changelogs */
.Changelog {
    max-width: 80%;
}
.Changelogs {
    padding: 10px;
}
.centercolumn { 
    float: center;
    width: 75%;
}
.leftcolumn { 
    float: left;
    width: 75%;
}
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
.ChangelogCard {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}